#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
body {
  background-color: aqua;
}
h1,
h2 {
  text-align: center;
  font-size: 4rem;
}
h2 {
  font-size: 2rem;
}
.btn {
  padding: 1.5rem 4rem;
  display: inline-block;
  margin: auto;
  font-size: 1.5rem;
  border-radius: 10rem;
}
.buttons {
  text-align: center;
  display: flex;
  justify-content: space-evenly;
}
