#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
html {
  background-color: aqua;
}
h1,
h3 {
  text-align: center;
  font-size: 4rem;
}
.btn {
  font-size: 2rem;
}
